---
pagination:
  data: blog.localPosts
  size: 1
  alias: post
permalink: /blog/{{ post.id }}/
layout: base.html
title: "{{ post.title }}"
zennCss: true
eleventyComputed:
  title: "{{ post.title }}"
---
<article class="post-detail">
  <a href="/blog" class="back-link">&larr; Blog</a>
  <header>
    <h1>{{ post.title }}</h1>
    <div class="meta">
      <span>{{ post.date | formatDetailDate }}  &middot;  {{ post.readTime }}</span>
    </div>
    {% if post.tags.size > 0 %}
    <div class="tags">
      {% for tag in post.tags %}
      <a href="/blog?tag={{ tag | encodeURIComponent }}" class="tag">{{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}
    <div class="header-divider"></div>
  </header>
  <div class="znc">{{ post.html }}</div>
</article>
